
.Logo 
{ 
    padding: 10px 0px;
    float: left;
    display: inline-block; 
    width: 10%; 
    height: auto;   
    text-align: center; 
    border: #000000 1px solid; 
    
    

} 
.Titulo 
{ 
    padding: 0px 0px;
    float: right;
    display:inline-table; 
    width: 89%; 
    
    height: auto; 
    text-align: center; 
    border: #000000 1px solid; 
   
}
.autos
{
    width: 100%; 
}
.img_auto
{
    float: left;
    display:inline-table; 
    
    width: 50%; 
    height: auto; 
    text-align: center; 
    border: #000000 1px solid; 
    padding: 10px 0px 10px;  
}
.texto{
    float: right;
    display:inline-table; 
    
    width: 48%; 
    height: auto; 
    text-align: center; 
    border: #000000 1px solid; 
    
}
.autos_info
{
    float: left;
    padding: 5px 0px;
    width: 100%; 
    background-color: #fff;
    border: #000000 1px solid; 
    
}
.modelo_auto
{ 
    width: 100%;
    display: inline-block; 
    margin-top: 10px;
    height: auto; 
    text-align: center; 
    background-color: #265F9B;
    color: #fff;
    
}

.Cuerpo
{ 
    
    margin-top: 10px;
    display: inline-block; 
    height: auto; 
    text-align: center; 
    border: #000000 1px solid; 

}
.Publicidad
{
    float: left;
    display: inline-block; 
    text-align: center; 
    margin-top: 0px;
    width: 59%; 
    height: auto; 
    
}
.minipublicidades
{
    text-align: center;
}
.minipublicidad1
{
    float: left;
    display:inline-table; 
    margin-top: 10px;
    width: 50%; 
    height: auto; 
    text-align: center; 
     
    padding: 1px 0px 1px;  
}
.minipublicidad2
{
    
    display:inline-table; 
    margin-top: 10px;
    width: 50%; 
    height: auto; 
    text-align: center; 
    
    padding: 1px 0px 1px;
    
    display: inline-block;
}
.minipublicidad3
{
    float: right;
    display:inline-table; 
    margin-top: 10px;
    width: 50%; 
    height: auto; 
    text-align: center; 
     
    padding: 3px 0px 2px;
}

.minipublicidad4
{
    float: right;
    display:inline-table; 
    margin-top: 10px;
    width: 50%; 
    height: auto; 
    text-align: center; 
     
    padding: 3px 0px 2px;
}

.marcas
{
    text-align: center; 
    border: #000000 1px solid; 
    width: 100%;
    height: 180px;
    overflow:hidden;
}
.nav-enlace{
    
    display: inline-block;
    background: #265F9B;
    color: #fff;
    padding: 10px 100px;
    text-decoration: none;
}

#contenedor
{
    background-color: #fff;
    width: 90%; 
    margin: auto;
}
img{
    width: 100%;
    padding: auto;
}
header
{
    float: left;
    width: 100%;
    background-color: #fff;
}
nav
{
    margin-top: 10px;
    width: 100%; 
    float: left;
    background-color: #fff;
}
section
{
    margin-top: 10px;
    width: 70%; 
    float: left;
}
aside
{
    margin-top: 10px;
    width: 29%; 
    float: right;
    background-color: #265F9B;
}
footer
{
    margin-top: 10px;
    float: left;
    width: 100%; 
}



